var ds = require('livetex-data-set');
var util = require('livetex-node-util');
var net = require('net');

var package = require('../package.json');
console.info(' [MODULE]: ' + package.name + '@' + package.version);

%%CONTENT%%

module.exports = polina;
